.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--sable);
    padding: 40px;
    border-radius: 32px;
    border: 3px solid var(--noir);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form__group {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.form__group:nth-child(3),
.form__group:nth-child(4) {
    grid-column: 1 / -1;
}

.form__group:nth-child(5) {
    grid-column: 1 / -1;
    margin-bottom: 0px;
}

.form__label {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    color: var(--noir);
    font-family: var(--font-titles);
    font-size: 1.1rem;
}

.form__input {
    width: 100%;
    padding: 12px 16px;
    background-color: var(--beige);
    border: 2px solid var(--noir);
    border-radius: 20px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--noir);
}

.form__input::placeholder {
    color: var(--noir);
    opacity: 0.6;
}

.form__input:focus {
    outline: none;
    border-color: var(--noir);
}

.form__input--textarea {
    resize: vertical;
    min-height: 150px;
    padding: 16px;
}

.form__submit-btn {
    grid-column: 1 / -1;
    width: 100%;
    padding: 12px 24px;
    background-color: var(--sable);
    color: var(--noir);
    border: 2px solid var(--noir);
    border-radius: 50px;
    font-weight: 700;
    font-family: var(--font-titles);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__submit-btn:hover {
    background-color: var(--noir);
    color: var(--sable);
}