.hero {
    height: 55vh;
    /* Hauteur de l'écran */
    background-image: url('/assets/images/header.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-md);
    margin-top: 80px;
}

.hero__title {
    font-size: 4rem;
    margin-bottom: var(--space-sm);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 550px;
    color: #000000;
}

.hero__date {
    font-size: 1.5rem;
    color: var(--color-silver);
    margin-bottom: var(--space-lg);
}